In [4]:
1+3

4

In [3]:
3+4

7

Ahmed adnan

Total number 1+2

In [12]:
3

3

In [6]:
3+4

7

Ahmed

In [11]:
"Ahmed Adnan"

'Ahmed Adnan'

In [10]:
"Ahmed"

'Ahmed'

In [9]:
"ahmed"

'ahmed'

"ahmed"

aaaaaaaaaaaaaaaaaaaaaaaaaaa

Ahmed 1Â¶
Adnan 2
Heading 2.1
Heading 2.2

```python
print "Hello World"
```

```javascript
console.log("Hello World")
```
Gives
print "Hello World"
console.log("Hello World")
And a table like this :
| This | is   |
|------|------|
|   a  | table| 
A nice Html Table