In [2]:
import numpy as np

In [7]:
a=np.char.add(["Ahmed" , "omar"] , ["adnan" , "Hamad"])

In [8]:
print(a)

['Ahmedadnan' 'omarHamad']

In [15]:
b=np.char.multiply("Ahmed" , 4)

In [16]:
print(b)

AhmedAhmedAhmedAhmed

In [17]:
c=np.char.capitalize("ahmed adnan hamad")

In [18]:
print(c)

Ahmed adnan hamad

In [19]:
d=np.char.title("ahmed adnan hamad")

In [20]:
print(d)

Ahmed Adnan Hamad

In [23]:
f=np.char.lower("AHMED ADNAN HAMAD")

In [24]:
print(f)

ahmed adnan hamad

In [25]:
f=np.char.upper("ahmed adnan hamad")

In [26]:
print(f)

AHMED ADNAN HAMAD

In [31]:
q=np.char.split("ahmed adnan hamad  " , sep=" "  )

In [32]:
print(q)

['ahmed', 'adnan', 'hamad', '', '']

In [33]:
print(type(q))

<class 'numpy.ndarray'>

In [34]:
g=np.char.join(" -  " , " Ahmed Adnan "  )

In [35]:
print(g)

  -  A -  h -  m -  e -  d -    -  A -  d -  n -  a -  n -

In [36]:
mystr="Ahmed adnan "

In [37]:
print(mystr)

Ahmed adnan

In [39]:
i=np.char.replace(mystr, "adnan", "Hamad")

In [40]:
print(i)

Ahmed Hamad